#tavli_table TD 
{
    width: 5em;
    height:11em;
    border:1px solid black;
    text-align:center;
  
}

#tavli_table
{
    border-collapse: collapse;
}

TD.B_square 
{
    background-color:#DDD;
}

TD.W_square 
{
    background-color:#FFF;
}

